@import 'tailwindcss';
@config '../../tailwind.config.ts';

:root {
  font-family: 'Google Sans', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
